<div class="container">
  <div class="section">
    <div class="section__message">
      <h1>WELCOME To 22</h1>
      <p>Let's look ahead to the next century</p>
      <a><span>お問い合わせ</span><i class="fas fa-paper-plane"></i></a>
    </div>
  </div>
  <div id="vision" class="vision">
    <div class="row">
      <h1>Vision</h1>
      <hr>
      <p>22世紀に向けて、人間と社会の可能性を最大化する</p>
    </div>
  </div>
  <div id="top-message" class="top-message">
    <div class="row">
      <h1>Top message</h1>
      <hr>
      <p>To22は、「22世紀に向けて、人間と社会の可能性を最大化する」ために
        <br>22世紀から逆算し、「今解くべき課題」を解き続ける会社です。
      </p>
      <p>
      <%= image_tag "to22-homepage.nomakohei.png", :width => "100", :height => "100"%>
      </p>
      <p>
      <a href="https://twitter.com/Kohey222" class="twitter-follow-button" data-show-count="false">Follow @Kohey222</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
    </div>
  </div>
  <div id="service" class="service">
    <div class="row">
      <h1>Our Service</h1>
      <hr>
      <div class="service-info">
        <table>
          <tbody>
            <tr>
             <th>プログラミング学習QAサービス「ギクサポ」</th>
             <td><%= image_tag "gikusapo_logo.png", :width => "50", :height => "50"%></td>
            </tr>
            <tr>
             <th>プログラミング学習同志発見SNS「geektown」</th>
             <td><%= image_tag "geektown_logo.png", :width => "50", :height => "50"%></td>
            </tr>
            <tr>
             <th>ソーシャル自己分析サービス「p2me」</th>
             <td><%= image_tag "p2me_logo.png", :width => "50", :height => "50"%></td>
            </tr>
          </tbody>
        </table>
       </div>
     </div>
    </div>
  <div id="corporate" class="corporate">
    <div class="row">
      <h1>Corporate Profile</h1>
      <hr>
      <div class="corp-info">
        <table>
          <tbody>
            <tr>
              <th style="padding-right:10px;">会社名</th>
              <td>株式会社 To 22</td>
            </tr>
            <tr>
              <th>英語表記</th>
              <td>To 22 Inc.</td>
            </tr>
            <tr>
              <th>設立</th>
              <td>2018年10月</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>本社：大阪府豊中市</td>
            </tr>
            <tr>
              <th>代表取締役</th>
              <td>野間 康平</td>
            </tr>
            <tr>
              <th>事業内容</th>
              <td>WEBサービスの開発</td>
            </tr>
            <tr>
              <th>お問い合わせ</th>
              <td>info@to22.co.jp</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="recruit" class="recruit">
    <div class="row">
      <h1>Recruit</h1>
      <hr>
      <p>To22では、一緒に未来を創る仲間を募集しています。
        少しでも気になった方は以下アドレスまで気軽にご連絡ください〜！
      </p>
      <p class="recruit-info">info@to22.co.jp</p>
    </div>
  </div>
 </div>
  <!-- <div id="contact" class="contact">
    <div class="row">
      <h1>Quick Contact</h1>
      <hr>
      <p>お問い合わせは下記メールアドレスにお願い致します。</p>
      <p class="contact-info">info [at] to22.jp</p>
    </div>
  </div>
</div> -->
