<div class="container">
  <div class="section">
    <div class="section__message">
      <h1>WELCOME To 22</h1>
      <p>DESIGN ANY POTENTIAL TO MAKE THE WORLD BETTER</p>
      <a><span>お問い合わせ</span><i class="fas fa-paper-plane"></i></a>
    </div>
  </div>
  <div id="vision" class="vision">
    <div class="row">
      <h1>Vision</h1>
      <hr>
      <p>To 22では、「潜在的な可能性や価値をデザインして、より良く、より面白い世界を想像する」ため
        <br>インターネット上でWEBサービスを展開しています。
      </p>
    </div>
  </div>
  <div id="service" class="service">
    <div class="row">
      <h1>Our Service</h1>
      <hr>
      <p>現在準備中・・・</p>
    </div>
  </div>
  <div id="corporate" class="corporate">
    <div class="row">
      <h1>Corporate Profile</h1>
      <hr>
      <div class="corp-info">
        <table>
          <tbody>
            <tr>
              <th style="padding-right:10px;">会社名</th>
              <td>株式会社 To 22</td>
            </tr>
            <tr>
              <th>英語表記</th>
              <td>To 22 Inc.</td>
            </tr>
            <tr>
              <th>設立</th>
              <td>2018年10月</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>本社：大阪府豊中市</td>
            </tr>
            <tr>
              <th>代表取締役</th>
              <td>野間 康平</td>
            </tr>
            <tr>
              <th>事業内容</th>
              <td>WEBサービスの開発</td>
            </tr>
            <tr>
              <th>お問い合わせ</th>
              <td>info at to22.co.jp</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td>090-6244-1673</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="contact" class="contact">
    <div class="row">
      <h1>Quick Contact</h1>
      <hr>
      <p>お問い合わせは下記メールアドレスにお願い致します。</p>
      <p class="contact-info">info [at] to22.co.jp</p>
    </div>
  </div>
</div>
