<footer class="footer">
  <div class="footer__top">
    <div class="row">
      <h3>Follow us on</h3>
    </div>
    <ul>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-google-plus-square"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
    </ul>
  </div>
  <div class="footer__bottom">
    <p> © Copyright, To22 Inc. All Rights Reserved.</p>
  </div>
</footer>
